assets/icono.png
.env
gui_files/__pycache__/color_picker_dialog.cpython-314.pyc
gui_files/__pycache__/color_selector_wrapper.cpython-314.pyc
gui_files/__pycache__/scoreboard_wrapper.cpython-314.pyc
gui_files/__pycache__/scoreboard.cpython-314.pyc
gui_files/__pycache__/ui_color_selector.cpython-314.pyc
gui_files/__pycache__/ui_scoreboard.cpython-314.pyc
theme/__pycache__/__init__.cpython-314.pyc
theme/__pycache__/colors_dark.cpython-314.pyc
theme/__pycache__/colors_light.cpython-314.pyc
theme/__pycache__/colors.cpython-314.pyc
theme/__pycache__/dynamic_colors.cpython-314.pyc
theme/__pycache__/language_manager.cpython-314.pyc
theme/__pycache__/palette.cpython-314.pyc
theme/__pycache__/state.cpython-314.pyc
theme/__pycache__/theme.cpython-314.pyc
theme/colors/__pycache__/roles.cpython-314.pyc
theme/desing/__pycache__/button.cpython-314.pyc
theme/desing/__pycache__/text.cpython-314.pyc
secondary_windows/__pycache__/color_picker_dialog.cpython-314.pyc
